.wrapper {
	margin: 0 auto;
}

.block-style {
	width: 100px;
	background-color: white;
	margin: 0 5px 15px 0;
	font-weight: bold;
	display: inline-block;
	align-content: center;
}

.button-style {
	background-color: red;
	font-weight: bolder;
	margin: 0 auto;
}
